# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



.ycm_extra*
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
html/
latex/
tags
botclient
/build/
/dist/